{% if site.sections.about %}

  <!-- ABOUT -->
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <h4>{{ site.about_section.title }}</h4>
                {% for p in site.about_section.description %}
                    <p itemprop="description">{{ p.p }}</p>
                {% endfor %}
                <p><a href="{{ site.subscribe_url }}">{{ site.subscribe_text }}</a></p>
            </div>
        </div>
    </section>
  <!-- / ABOUT -->

{% endif %}